/* {
        border: 2px solid red;
} */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

#background {

    display: flex;
    flex-direction: column;
}

.sezione1,
.sezione2,
.sezione3 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#homepage {
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(22, 22, 131);
    color: white;
    padding: 5px;
}

.sezione1 {
    background-color: rgb(50, 50, 150);
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.sezione2 {
    border: 2px solid black;
    background-color: white;
}

.sezione3 {
    background-color: white;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.testo {
    font-size: small;
}