/* {
        border: 1px solid red;
} 
*/
body {
    background-color: rgb(255, 215, 222);
    font-family: 'Courier New', Courier, monospace;
}

#homepage {
    color: rgb(150, 12, 12);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.capitoli {
    display: flex;
}

.uno,
.due,
.tre {
    font-size: 20px;
    padding: 20px;   
    margin: 20 px;
} 

li{
    padding: 7px;
    
}

.testo {
    font-size: 20px;
    padding-left: 10px;
}